body{
  background: #FFF2F2 ;
}
#l1 {
  margin-top: 60px;
  text-align: center;
  font-family: Sans-serif;
  font-size:xx-large;
}
#b1 {
  position: absolute;
  background: transparent;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border: none;
}
/* .list{
  position: absolute;
  display: grid;
  grid-template-areas: row;
  background-color:#FEBBBB ;
  border-radius: 10px;
  margin:0px 1% 0px 1%;
  bottom: 2%;
  width: 96%;
}
#list{
  height: 110px;
}
#settings{
  flex-direction: row;
  gap: 10px;
  height: 50px;
}
#settings button{
  margin: 10px;
  height: 30px;
  width: 100%;
}
#text{
  display: grid;
  grid-auto-flow: column;
  margin: 0 10px;
}

#buttons{
  display: grid;
  gap: 1%;
  padding: 1%;
  grid-auto-flow: column;
}
@media (min-height:800px) {
  #list{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 10% 90%;
    min-height: 300px;
  }
  .list-buttons{
    display: flex;
    flex-direction: row;
  }
  #click{
    display: grid;
    grid-template-rows: 50% 50%;
  }
  #text {
    display: grid;
    grid-auto-flow: row;
    margin-left: 5%;
  }
  #buttons {
    grid-auto-flow: row;
    justify-content: end;
    align-content: space-evenly;
    grid-template-rows: 19% 19% 19% 19% 19%;
    width: 100px;
  }
}
#list button{
  height: 100%;
  width: 100%;
  z-index: 2;
  min-height: 45px;
  padding: 0;
}
 */
.hover:hover{
  background-color: #E24559;
  transform: translateY(-5px);
  box-shadow: black 0px 5px 0px 0px;
  transition: 0.5s;
}

.hover:active , .focus:focus{
  background-color: #E24559;
  transform: translateY(0.01rem);
  box-shadow: gray 0px -1px 0px 1.5px;
}

.rounded{
  border-radius: 10px;
}

button{
  border: none;
  background-color: #F68088;
  outline: none;
  transition: 0.5s;
}

text{
  pointer-events: none;
}

#list{
  position: absolute;
  display: grid;
  grid-template-rows: 15% 85%;
  bottom: 0;
  left: 0;
  margin: 2.5%;
  width: 95%;
  height: 25%;
  background-color: #FEBBBB;
}

.list-buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 5px;
  gap: 10px;
  height: 25px;
  border: black 10px;
}

.list-buttons button{
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upgrade{
  display: grid;
  grid-template-columns: 60% 40%;
}

.buttons{
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin: 5px;
}
#settings{
  display: grid;
  margin: 5px;
  grid-template-rows: 45% 45%;
  gap: 20px;
}



.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 95vw;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  background-color:  #FEBBBB;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border-radius: 5px;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 4);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}


.radio-input label:has(input:checked) ~ .selection {
  background-color: #F68088;
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/4));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/4));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/4));
}

.radio-input label:nth-child(4):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 3/4));
}