body{
  background: #FFF2F2 ;
}
.footer{
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  width: 100vw;
  justify-content: space-evenly;
  z-index: 10;
}
.top{
  position: fixed;
  top:0;
  left: 0;
}
.footer button{
  margin: 0;
  height: 100%;
  width: 50vw;
}
#l1 {
  margin-top: 60px;
  text-align: center;
  font-family: Sans-serif;
  font-size:xx-large;
}
#b1 {
  position: absolute;
  background: transparent;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border: none;
}
.list{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color:#FEBBBB ;
  border-radius: 10px;
  margin:0px 1% 0px 1%;
  bottom: 2%;
  width: 96%;
}
#upgrades{
  height: 110px;
}
#settings{
  flex-direction: row;
  gap: 10px;
  height: 50px;
}
#settings button{
  margin: 10px;
  height: 30px;
  width: 100%;
}
#text{
  display: grid;
  grid-auto-flow: column;
  margin: 0 10px;
}
button{
  border: none;
  background-color: #F68088;
}
#buttons{
  display: grid;
  gap: 1%;
  padding: 1%;
  grid-auto-flow: column;
}
@media (min-height:800px) {
  #upgrades{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    min-height: 300px;
  }
  #text {
    display: grid;
    grid-auto-flow: row;
    margin-left: 5%;
  }
  #buttons {
    grid-auto-flow: row;
    justify-content: end;
    align-content: space-evenly;
    grid-template-rows: 19% 19% 19% 19% 19%;
  }
}
.rounded{
  border-radius: 10px;
}
#upgrades button{
  height: 100%;
  width: 100%;
  z-index: 2;
  min-height: 45px;
  padding: 0;
}
.hover:hover{
  background-color: #E24559;
}